<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>penImgName</key>
	<string>Base</string>
	<key>bgImgName</key>
	<string>Level_1</string>
	<key>cowPosition</key>
	<string>{80,70}</string>
	<key>cowCount</key>
	<integer>1</integer>
	<key>penPosition</key>
	<string>{400, 70}</string>
</dict>
</plist>
